# Lines that start with '#' are comments.
*~
*.diff
*#
.classpath
.project
.settings
bin/flume-env.sh
conf/flume-site.xml
bin/.settings
.eclipse
pmd_report.html
*/bin
target
patchprocess
derby.log
.idea
*.iml
nb-configuration.xml
.DS_Store
/release/*
/bin/apache*
/bin/jdk*
../../pmaster/build/*
../../pmaster/contrib/tmp_protobuf-2.6.1.tar.gz
../../pmaster/contrib/virtualenv-1.11.6.tar.gz
../../pmaster/contrib/virtualenv-1.11.6/*
../../pmaster/service/T.py
/release_dev/*
/conf-product-bak/*
/apache-flume-*
/src/main/java/com/iwaimai/pbmsg/Sample.java